body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    color: #fff;
    background-color: #141313;
}

.gallery-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

input {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

input:focus {
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #df3b01;
    color: #fff;
    cursor: pointer;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.photo-card {
    max-width: 300px;
    border: 1px solid #6f6e6e;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.photo-card img {
    width: 100%;
    height: auto;
}

.info {
    margin-top: auto;
    padding: 10px;
}

.info-item {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #fff;
}

button.load-more {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}